body {
    background-color: #EFF0F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #3565dc;
    font-size: 5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

button img{

    max-width: 400px;
    max-height: 400px;
}
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #415F9D;
    background-color: #415F9D;
   
    border-width: 0px;
    border-radius: 20px;
    cursor: pointer
}
.ruta-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    
}
section{
    display: flex;
    flex-direction: row;
}
h2{
    font-size: 40px;
    margin-top: 12px;
    color:#EFF0F4 ;
}

