body {

    background-color: #EFF0F4;
}
#cuerpo-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


button img{

    max-width: 400px;
    max-height: 400px;
}
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #415F9D;
    background-color: #415F9D;
   
    border-width: 0px;
    border-radius: 20px;
    cursor: pointer
}
.ruta-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    
}
section{
    display: flex;
    flex-direction: row;
}
.subtitulo{
    font-size: 40px;
    margin-top: 12px;
    color:#EFF0F4 ;
}



#barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #415F9D;
    height: 50px;
    margin-bottom: 80px;
}
.opciones {

    font-family:'Arial';
    color: white;
    margin-left: 20px;
    margin-right:20px ;
    text-decoration: none;
    font-size: 20px;
}

.line-separator {
    border-left: 3px solid rgb(255, 255, 255);
    height: 37px;
    font-size: 50px;
}

#link-inicio {
    margin-right: 300px;
}
.etiqueta-inicio {
    font-size: 40px;
}
