/*general*/
body {
    background-color: #EFF0F4;
}

#cuerpo {
    display: flex;
    flex-direction: row;
}


/* Tabla Agentes*/
tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
  }
  tr:nth-child(odd) {
    background-color: #f9fafc;
  }
table {
    border-collapse: collapse;
}

tr {
    border-right: #000;
    margin-left: 20px;
    display: table-row;
}

td {
    text-align: center;
}

th {

    margin: 250px;
    padding: 10px;
}

#scroll-principal {
    border: 1px solid;
    height: 400px;
    width: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 50px;
    user-select: none;

}

#scroll-vias {
    border: 1px solid;
    height: 200px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 50px;

}


.color-fondo {
    background-color: #415F9D !important;
    color: white;
    user-select: none;

}

.fila-seleccionada {
    background-color: blue;
    color: white;
}

/*Botones crud*/
button {
    display: flex;
    border-width: 0px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

 #btn-limpiar{
    width: 42px;
    height: 40px;
    color: white;
    background-color: #838383;
    border-radius: 10px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}
#btn-borrar {
    background-color: red;
}

#btn-actualizar {
    background-color: #415F9D;
}

#btn-registrar {
    background-color: #48917f;
}

#botones-crud {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 50px;
}

.encabezado {
    border-bottom: solid 1px #000;

}

/*Formulario*/

#formulario {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.fila-input {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-right: 10px;

}

.etiqueta-input {
    font-family: 'Arial';
}

h3 {
    color: red;
    height: 15px;
    font-weight: 12;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.corregir{
    border: 1px solid red;
}
input {
    width: 270px;
    height: 23px; 
    border-radius: 5px;
    border: 1px solid rgb(151, 151, 151);
 

}
select{
    width: 275px;
    height: 25px; 
    border-radius: 5px;
    border: 1px solid rgb(151, 151, 151);
}